@font-face {
    font-family: "Customfont";
    src: url("Material/Inter.ttf");
}

body{
    margin: 0 20px;
    box-sizing: border-box;
    font-family: "Customfont";
}
/*Header start*/

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
    font-size: 12px;
    padding: 5px 0px;
}
.nav-left{
    display: flex;    
}

.nav-right{
    display: flex;
    gap: 10px;
}

#barky-image{
    width: 100px;
}
.getbarkyfree{
    background-color: black;
    border-radius: 5px;
    color: white; 
    display: inline-block;
    padding: 7px;
}
.nav-left p, .nav-right p{
    padding: 5px;
}
#requestademo{
    border-right: solid black 1px;
}
/*Header ends*/
/*Main starts*/
main{
    max-width: 1000px;
    margin:auto;
}
#container-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}
#Container-1 h1{
    font-size: 36px;
}


#imagebox-1{
    width: 100%;
    
}



