@font-face {
    font-family: "Customfont";
    src: url("Material/Inter.ttf");
}
body{
    box-sizing: border-box;
    font-family: "Customfont";
}
p{
    color: #7f7f7f;
}

h2{
    font-size: 24px; 
}

h1{
    font-size: 36px;
    margin: 0;
}
footer{
    border-top: 1px solid #e5e5e5;

  
}
/*Header-navigation*/
#sidhuvud{
    display: grid;
    grid-template-columns: 100px auto max-content;
    border-bottom: solid 1px #e5e5e5;
    background-color: white;  
    position: fixed;
    font-size: 14px;
    margin: 0 20px;
    top: 0;
    left:0;
    right:0;
    padding: 10px 0;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.nav-left{
    display: flex; 
    gap: 15px;  
    margin-left:20px;
}
.nav-right{
    display: flex;
    margin-right: 10px;
    gap: 20px;  
}
.nav-left div, 
.nav-right a{
    padding: 5px;
}
.nav-right div{
    padding-right: 10px;
}

.navigation a,
#p-color{
    text-decoration: none;
    color: black;
}
.navhover:hover{
    background-color: #e5e5e5;
    border-radius: 5px;
}
a{
    color: white;
    text-decoration: none;
}

#barky-image{
    width: 100px;  
    margin-top: 5px;
}
.getbarkyfree{
    background-color: black;
    color: white;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 5px;
} 
.getbarkyfree:hover{
    background-color:#353535 ;
}

#border,.row-style2{
    border-right: solid #e5e5e5 1px;   
}

/*Main*/
main{
    max-width:1000px;
    margin:auto;
    padding: 0 30px 0 30px;
}

#container-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}
#container-1 h1{
    font-size: 36px;
}

#imagebox-1{
    width: 100%;  
}
#hamburger{
    display: none;
    padding: 5px;
    border-radius: 5px;
}
#hamburger:hover{
    background-color: #e5e5e5;
}

#container-2{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px;
    margin: 50px 0px;
    padding: 20px;
    border-top: 1px #e5e5e5 solid; 
}
#container-2 img{
    height: 25px;
}
   
.container-3 img{
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.2);
    border-radius: 5px;
}

.container-3 p{
    width: 50%;
    line-height: 1.4;
    margin-top: -15px;
    margin-bottom: 40px;  
}
.citatbox{
    font-size: 26px;
    text-align: center;
     
}
.text-image{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: 50px;
}

.text-image img{
    height: 50px;
}
.below-image p{
    margin-top: -10px;
}
.border-box,
#container-2,
.container-5{
    border-bottom: solid 1px #e5e5e5; 
}
#container-4{
    text-align: center;
    margin: auto;
    padding-top: 30px;
}
#container-4 p{
    font-size: 18px;
}
.background-box{
    background-color: #f4f4f4;
    margin: 40px auto 50px auto;
    border-radius: 5px;
    width: 700px;
    padding: 20px;
    width: 100%;
}
.container-5{
    display: flex;
    justify-content:center;
    align-items: center;
    justify-content: space-between;
    
}
.container-5 img{
    height: 30px;
}
#container-6{
    padding: 40px 0 0 0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
#row-bar{
    display:flex; 
    margin: 50px 0;
    
}
.row-style{
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
.row-style h3{
    margin: 0;
}
.row-2{
    border-right: 1px solid #e5e5e5;
    border-left:  1px solid #e5e5e5;
}
.container-7,.container-9{
    text-align: center;
}
.grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}
.container-7 img{
    width: 100%;
}
.container-8{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container-8 div{
    text-align: center;
}
#barky-style{
    width: 150px;

}
#icon-style{
    display: flex;
    width: 20px;
    gap: 10px;
    margin: 25px 0 60px 0;
}
.container-10{
    max-width: 1200px;
    display: grid;
    margin: 50px auto 50px auto;
    grid-template-columns: 300px auto;
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*Anpassat för mobik*/
@media (max-width:600px){
    #mobile, .navigation{
        display: none;
    }
    #sidhuvud{
        position: relative;
        border: transparent;
    }
    #container-1{
        display: flex;
        flex-direction: column-reverse;
    }
    
    #hamburger{
        display: flex;
        width: 20px;
        position: absolute;
        right: 0;
        top: 10px;   
    }
    body,.container-9 p{
        text-align: center;
    }
    .container-3 p{
        width: 100%;
    }
    #row-bar,.grid-box,.container-8{
        display: flex;
        flex-direction: column;

    }
    .row-2, .row-style2{
        border: transparent;
    }
    .container-7 h2, p{
        text-align: left;
    }
    .container-8{
        align-items: center; 
    }
    .container-10{
        display: flex;
        flex-direction: column;
    }
    .footer-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;  
    }
    #container-6 p{
        text-align: center;
    }
    .container.5, .background-box{
        width: 100%;
    }
}




/*Dessa färger används (utan någon inbördes ordning): #050505, #121212, #353535, #666666, #7f7f7f, #999999, #e5e5e5, #f4f4f4 och #087fe7.*/

/*Typsnittet finner ni i mappen “material” (filen Inter.ttf) och det används på hela sidan. Följande typsnittstjocklekar har använts: 650, 550, 450, 400 och 320. Följande typsnittsstorlekar har använts (i pixlar): 53, 45, 36, 26, 24, 18, 15, 14, 13.5, 13 och 12**/

